/*body,
html {
  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
/* } */
.container12
{
  background-color: black;
}

.container12 .head .h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  margin-bottom: 5rem;
  padding-top: 50px;
  color: white;
}

.container12 .video111
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  padding-bottom: 80px;
}