/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply global styling */
  body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Fieldset styling */
  fieldset {
    width: 60rem;
    padding: 6rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fffdfd;
  }
  
  /* Legend styling */
  legend {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 1rem;
    height: 5vh;
    text-align: center;
  }
  
  /* Form container styling */
  .form__1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
  }
  
  /* Space between fieldsets */
  form fieldset {
    margin-bottom: 20px;
  }
  
  /* Text field styling */
  .first_field,
  .select_1 {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out; /* Smooth transition on border color change */
  }
  
  .first_field:focus,
  .select_1:focus {
    outline: none;
    border-color: #6d9eeb; /* Highlight border color on focus */
  }
  
  /* Custom textfield container */
  
  /* Button styling */
  .button_1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 12px 20px; /* Adjust padding as needed */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4rem;
    border: 2px solid #4caf50; /* Border color */
    border-radius: 4px;
    background-color: #4caf50; /* Button background color */
    color: #fff; /* Button text color */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
  }
  
  .button_1:hover {
    background-color: #45a049; /* Hover background color */
    border-color: #45a049; /* Hover border color */
    color: #fff; /* Hover text color */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1040px) {
    fieldset {
      width: 100%;
      padding: 6rem; /* Adjust padding as needed */
    }
  
    /* .legend {
        height: auto;
      } */
  
    .first_field,
    .select_1 {
      padding: 2rem;
      font-size: 14px;
    }
  
    .button_1 {
      width: 100%;
      font-size: 14px;
      padding: 10px 16px; /* Adjust padding as needed */
    }
  }
  
  .Product_Name {
    margin-top: 100px;
  }
  
  label[for="Product_Name"] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
  }
  
  :root {
    --greenSeaweed: rgba(2, 128, 144, 1);
    --blueQueen: rgba(69, 105, 144, 1);
    --redFire: rgba(244, 91, 105, 1);
  }
  
  /* Fonts
  body {
    background-color: var(--redFire);
    font-family: 'Asap', sans-serif;
  } */
  
  .login1 {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(var(--greenSeaweed), 0.2);
  }
  
  .login1::before,
  .login1::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .login1::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(var(--blueQueen), 0.15);
    animation: wawes 6s infinite linear;
  }
  
  .login1::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(var(--greenSeaweed), 0.2);
    animation: wawes 7s infinite;
  }
