/* Add this to your CSS file */
.trail {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: rgb(239, 11, 19); /* Set a transparent background */
  pointer-events: none; /* Allow clicks to pass through */
}
