.menu-icon {
  color: white;
}

.navbar {
  padding: 20px 60px;
  background-color: rgb(25, 0, 51);
}

.nav-item {
  margin-right: 70px; /* Adjust the value as needed to control the space between items */
  font-size: 1.4rem;
}

.nav-item:hover {
  /* content: "";
  width: 3%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0.8em; */
  border-bottom: 4px solid orange;
}
